*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  font-family: "outfit";
}
.hero{
    text-align: center;
    padding: 1rem;
    
}
.hero-img{
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    padding: 2rem 0;
}
.hero-img img{
    width: 55%; 
   max-width:180px ;
   height: auto;
}
.header-p-text{
    color: rgb(153, 149, 149);
    padding: 1.2rem 0rem;
}
.hero-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

}
.btn-primary{
    background-color: #3091ac;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.btn-secondary{
    background-color: #a34ddd;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    transform: translateY(-2px);
    transition: all ease-in;
}